/* Color Palette
# - color 1: #17324D (Deep Navy)
# - color 2: #526579 (Slate Blue)
# - color 3: #DCEAF4 (Soft Blue)
# - color 4: #F7F9FB (Off-White)
*/

/* Global styles 
------------------------------------*/
body {
    /* background: lightblue; */
    background:#DCEAF4;
}


/* Header & Footer 
------------------------------------*/
header, footer{
    background: #17324D;
    color: #F7F9FB;
}

footer a{
    color: #F7F9FB;
}


/* Work Experience
------------------------------------*/
.work-experience{
    background:#526579;
}



/* Education
------------------------------------*/ 
.education{
    background:#526579;
}


/*FONTS*/
body, p, li {
    font-family: "IBM Plex Serif", serif;
}

h1, h2, h3 {
    font-family: "PT Serif", serif;
}


/* FONT SIZE*/
h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}